<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SourceLocations" type="LogExtractionUtility.SourceLocations, LogExtractionUtility" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <SourceLocations>
    <Location key="SupervisorMachine" value="C:\SuperP500\Logs\"/>
    <Location key="GuiMachine" value="C:\GuiP500\Logs\"/>
  </SourceLocations>
  <appSettings>
    <add key="ArchiveNamePrefix" value="UserChoice"/>
    <add key="NumberOfPreviousDaysOfLogsToCollect" value="8"/>
    <add key="TempArchivePlaceLocation" value="C:\P500\temp\"/>
    <add key="DestinationLocation" value="C:\P500\TestOutput\"/>
  </appSettings>
</configuration>
